<!DOCTYPE html>
<html>
<head><title>Submitting OIDC Init</title></head>
<body>
  <p>Submitting OIDC init for {{ registration.name }}...</p>
  <p><strong>*</strong> means "normally hidden, shown here for debugging".</p>
  <form method="post" action="{{ post_url }}" onsubmit="this.action = this.elements.post_url.value;">
    <p>
      <label>* iss<br>
        <input type="text" name="iss" value="{{ iss }}" size="100">
      </label>
    </p>
    <p>
      <label>* login_hint<br>
        <input type="text" name="login_hint" value="{{ login_hint }}" size="100">
      </label>
    </p>
    <p>
      <label>* lti_message_hint<br>
        <input type="text" name="lti_message_hint" value="{{ lti_message_hint }}" size="100">
      </label>
    </p>
    <p>
      <label>* target_link_uri<br>
        <input type="text" name="target_link_uri" value="{{ target_link_uri }}" size="100">
      </label>
    </p>
    <p>
      <label>* context_id<br>
        <input type="text" name="context_id" value="{{ context_id }}" size="100">
      </label>
    </p>
    <p>
      <label>* context_label<br>
        <input type="text" name="context_label" value="{{ context_label }}" size="100">
      </label>
    </p>
    <p>
      <label>* context_title<br>
        <input type="text" name="context_title" value="{{ context_title }}" size="100">
      </label>
    </p>
    <p>
      <label>* client_id<br>
        <input type="text" name="client_id" value="{{ client_id }}" size="100">
      </label>
    </p>
    <p>
      <label>post_url<br>
        <input type="text" name="post_url" value="{{ post_url }}" size="100">
      </label>
    </p>
    <button type="submit">Continue to {{ post_url }}</button>
  </form>
</body>
</html>
